@import 'var&mixins.scss';

.testing-popup{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 94vh;
  color: gray;

  h1{
    font-weight: bold;
    margin-bottom: 30px;
  }
  h2{
    font-weight: lighter;
    transition: 0.2s;
  }
}
.popup_container { 
    position: fixed;
    background-color: $color-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s;

    .p_close{
      transition: .5s;
      display:flex;
      place-self: end;
      text-align: center;
      background-color: $color-white;
      border-radius: 50px;
      padding: 15px;
      cursor: pointer;

      svg{
        fill: $color-blue;
        height: 20px;
        width: 20px;
      }
      
      &:hover {
        transform: scale(1.1);
        transition: 0.2s;
      }
    }
  }

  #popup {
    width: 60vw;
    padding: 50px 150px;
    background-color: #E6E6E6;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;


    .UserType{
      display: flex;
      height: 40vh;     
      .UserAdmin,.UserStudent,.UserFaculty{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 25px;
        width: 30vh;
        border-radius: 10px;
        transition: .5s;

        img{
          width: 200px;
          height: 200px;
          padding: 25px;
          background-color: #fff;
          border-radius: 150px;
          margin-bottom: 15px;
        }

        &:hover{
          img{
            border: #699BF7 solid 2px;
          }
          h2{
            color: #699BF7;
            font-weight: bold;
          }
          transition: 0.2s;
          transform: scale(1.1);
        }
      }
    }
  }
  #open_popup{
    background-color: #fff;
    opacity: 100%;
    padding: 15px;
    border-radius: 15px;
    transition: .5s ease;
    &:hover{
      transform: scale(1.1);
      transition: .5s ease;
    }
  }
